@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");
@import "tailwindcss";

.noto {
  font-family: "Noto Sans Bengali", sans-serif;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.c-Tukmu .card-price {
  display: inline-block;
  width: auto;
  height: 25px;
  background-color: rgb(249, 123, 83);
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid rgb(249, 123, 83);
  margin-left: 15px;
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 3px 7px;
}

.c-Tukmu .card-price::before {
  content: "";
  position: absolute;
  display: block;
  left: -12px;
  top: 1px;
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid rgb(249, 123, 83);
}

.c-Tukmu .card-price::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -2px;
  top: 13px;
}

.button.primary:not(.outlined) {
  --tw-text-opacity: 1;
  color: white;
  background-color: #1cab55;
  border-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 2rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-bottom-width: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

details > summary {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.5rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

details > summary::marker {
  content: "";
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: auto !important;
}
details[open] > summary:after {
  transform: rotate(0deg);
}

details > summary:after {
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nOCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMi4xMiA2LjcxIDYgMi44M2wzLjg4IDMuODhhLjk5Ny45OTcgMCAxIDAgMS40MS0xLjQxTDYuNy43MWEuOTk2Ljk5NiAwIDAgMC0xLjQxIDBMLjcgNS4zYS45OTYuOTk2IDAgMCAwIDAgMS40MWMuMzkuMzggMS4wMy4zOSAxLjQyIDBaJyBmaWxsPScjMDAwJy8+PC9zdmc+);
  content: "";
  height: 0.5rem;
  margin-top: -4px;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(180deg);
  transition: transform 0.2s ease;
  width: 0.75rem;
}
.thumb-wrap:before {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  height: 102%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.scrollbar-hide {
  scrollbar-width: none;
}
.divide-y {
  color: #dbe1eb;
}
.scroll-smooth {
  scroll-behavior: smooth;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
